<h1>React Calendar</h1>

<h2>Appointments</h2>

<h3>Make a new appointment</h3>

<%= form_for(@appointment, remote:true) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :apt_time %>
  <%= f.submit 'Make an Appointment' %>
<% end %>
<div id="appointments">
  <%= render @appointments %>
</div>
